.photo-grid {
  display: grid;
  max-width: 1184px;
  align-content: center;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
  padding-bottom: 92px;
}

@media (max-width: 1184px) {
  .photo-grid {
    gap: 16px;
    max-width: 984px;
  }
}

@media (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
    max-width: 928px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 928px) {
  .photo-grid {
    max-width: 832px;
  }
}

@media (max-width: 890px) {
  .photo-grid {
    max-width: 737px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    gap: 16px;
    max-width: 720px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    padding-bottom: 88px;
  }
}

@media (max-width: 740px) {
  .photo-grid {
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
    max-width: 680px;
  }
}

@media (max-width: 700px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 400px;
  }
}

@media (max-width: 455px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    max-width: 288px;
    padding-bottom: 64px;
  }
}
