.places {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media (max-width: 1024px) {
  .places {
    margin: 0 48px;
  }
}

@media (max-width: 768px) {
  .places {
    margin: 0 24px;
  }
}

@media (max-width: 320px) {
  .places {
    margin: 0;
  }
}
