.footer__links {
  margin: 92px 0 24px 48px;
}

@media (max-width: 768px) {
  .footer__links {
    margin: 88px 0 24px 24px;
  }
}

@media (max-width: 320px) {
  .footer__links {
    margin: 64px 0 0 16px;
    display: flex;
    flex-direction: column;
  }
}
