.place__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #FFF;
}

.place__paragraph:first-of-type {
  padding-bottom: 26px;
}

@media (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }

  .place__paragraph:first-of-type {
    padding-bottom: 25px;
  }

  .place__paragraph:first-of-type:last-child {
    padding-bottom: 0;
  }
}
