.place {
  display: grid;
  max-width: 984px;
  grid-template-columns: 460px minmax(444px, 1fr);
  grid-template-rows: min-content max-content;
  padding-bottom: 80px;
  gap: 48px 40px;
}

.place:last-child {
  padding-bottom: 92px;
}

@media (max-width: 1024px) {
  .place {
    grid-template-columns: 440px minmax(424px, 1fr);
    gap: 48px 32px;
  }
}
