.header__lang-links {
  list-style: none;
  display: flex;
  margin: 46px 48px 0 0;
  padding: 0;
  min-width: 75px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .header__lang-links {
    margin: 46px 24px 0 0;
  }
}
