.place__website {
  display: grid;
  align-content: flex-end;
  max-width: 484px;
}

@media (max-width: 1024px) {
  .place__website {
    max-width: 456px;
  }
}

@media (max-width: 768px) {
  .place__website {
    max-width: 352px;
  }
}

@media (max-width: 455px) {
  .place__website {
    max-width: 288px;
    margin-left: 16px;
  }
}
